.collectionCard {
    background-color: var(--color-navyblue);
}

.collectionTitle {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    color: var(--color-white);
}

.collectionText {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
}
