@import "./fonts.css";

.articleContainer {
    padding: 5% 2% 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.articleTitle {
    /* top: 12.5rem;
    right: 18.75rem; */
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #E0BB56;
    /* padding: 0% 25% 0% 25%; */
}
    @media screen and (max-width: 37.5rem) {
        .articleTitle {
            padding: 0;
            font-size: 1rem;
        }
    }
/* break point when you want it smaller at one size 
 make the paragraph the same size 
 scale the slider */

.articleImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 40%;
}

.articleImage {
    border-radius: 2rem;
   /* justify-content: center; */
   border: #003057 .25rem solid;
    width: 100%;
    height: 100%;
    object-fit: 'cover';
}

.articleText {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    /* padding: 0% 25% 0% 25%; */
}

.articleTitleInfo {
    /* position: absolute; */
    text-align: center;
    color: white;
    width: 75%;
    background-color: #003057;
    padding: 2% 3% 2% 3%;
    border-radius: 2rem;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(63,107,169, 0.6);
}

.interviewInfo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    /* gap: 2vh; */
    width: 75%;

}

.interviewInfoChild {
    width: 50%;
    color: white;
}

.intervieweeDesc {
    margin-left: 3vw;
    padding: 2% 3% 2% 3%;
    height: fit-content;
    background-color: #003057;
    border-radius: 2rem;
    /* border-color: #E0BB56; */
    border: #E0BB56 .25rem solid;
}

.clicker {
    outline:none;
    cursor:pointer;
    color:#ffffff;
    margin-left: 12.5%;
    align-self: first baseline;
    padding: 1% 2% 1% 2%;
    height: fit-content;
    background-color: #003057;
    border-radius: 2rem;
}
    
.hiddendiv {
    display: none;
    background-color: #003057;
    border-radius: 2rem;
    padding: 1% 2% 1% 2%;
}

.hiddendiv.show {
    display: flex;
    width: 75%;
    align-self: first baseline;
}

.articleAudio {
    width: 80%; 
    /* margin-top: 2.5rem; */
    position: absolute;
    vertical-align: bottom;
    bottom: 1%;
}
@media screen and (max-width: 800px) {
    .articleAudio {
        width: 100%; 
    }

.topPadding {
    padding: 10% 5% 10% 5%;
}

/* .articlePadding {
    padding: .5% 0 .5% 0;
} */

.articleVideo {
    border-radius: 0.625rem;
    position: relative;
    justify-content: center;
    margin: 0% 20% 0% 30%;
    width: 100%;
    /* min-height: 70%; */
}
.articleImage {
    width: 100%;
    height: fit-content;
}
.authorInfo {
    font-family: 'Roboto Slab', serif; 
    font-size: 1rem;
    color: white;
    text-align: center;
    top: 2.5rem; 
    right: 10.625rem;
}

.interviewInfo {
    flex-direction: column;
    gap: 3vh;
    align-content: center;
    height: fit-content;

}
.interviewInfoChild {
    margin: 0;
    width: 100%;
}
}
